<!DOCTYPE html>
<html lang="en">
  <head>
    <!--link to Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title><%= shortURL %> - <%= longURL %></title>
  </head>
  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <main>

      <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
              <p>There's no going back after this, and you'll lose the TinyURL and the statistics with it.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" type="button">Delete anyway</button>
              <button class="btn btn-warning" type="button" data-dismiss="modal">Go back</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container p-4">
        <h1>TinyURL for: <%= longURL %></h1>
        <h5>Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></h5>
        <div class="btn-group pt-2" role="group" aria-label="Edit and delete">
          <button type="button" class="btn btn-outline-success mx-1">Edit</button>
          <button data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-outline-danger mx-1">Delete</button>
        </div>
        <h2 class="pt-5">Visitors</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date and Time Visited</th>
              <th scope="col">Unique Visitor ID</th>
            </tr>
          </thead>
          <tbody>
            <!-- work on this later  -->
          </tbody>
        </table>
      </div>
    </main>
    
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Edit</h5>
          <form class="form-inline justify-content-center" action="/urls/<%= shortURL %>/update" method="POST">
            <div class="form-group">
              <label for="newURL">Enter a new URL:</label>
              <input class="form-control" type="url" name="newURL" placeholder="https://" style="width: 300px; margin: 1em">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $("#editModal").modal("toggle")
    </script>
  </body>
</html>